<h1>My Posts</h1>

<h1><%= @place["name"] %></h1>

 
<ul>
  <% for post in @posts %>
    <li>
      <a href="/places/<%= place["id"] %>"> new post </a>
    </li>
  <% end %>

  <li>
      <a href="/places"> back to places </a>
    </li>

</ul>